dontaudit priv_app device:dir read;
dontaudit priv_app proc_interrupts:file read;
dontaudit priv_app proc_modules:file read;
dontaudit priv_app proc_version:file read;
dontaudit priv_app device:dir open;
dontaudit priv_app proc_interrupts:file open;
dontaudit priv_app proc_modules:file { getattr open };
dontaudit priv_app proc_stat:file { getattr open read };
